<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596936347484-5ad0aqaupt695u7r03du1900djj85unr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596936347484-5ad0aqaupt695u7r03du1900djj85unr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>596936347484-p1jo7c6o6ulgi8j4b30lmsj7d0ci3ib2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUgJjlSERo-8UTb9oD2s02Gtf3NVUKcoI</string>
	<key>GCM_SENDER_ID</key>
	<string>596936347484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>forgecamp.net.simplepomo</string>
	<key>PROJECT_ID</key>
	<string>simple-pomo</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-pomo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596936347484:ios:606159f737f7f413cd3b99</string>
</dict>
</plist>